body{
    font-family: 'Roboto','sans-serif';
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0%;
    background-color: #f0f0f0;

}

.twitter-card{
    width: 457px;
    height: 138px;
    display: flex;
    border: 1px solid #e1e8ed;
   
    
    background-color: #ffffff;
}

.profile-pic{
    width: 130px;
    height: 130px;
    padding-right: 3px;
}

.profile-pic img{
    width: 100%;
    height: 100%;
   
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
}

.username{
 font-weight: bold;
 font-size:20px;
 color: #000000;
 margin: 0;
}

.tweet-text{
    font-weight: normal;
    font-size: 20px;
    color: #000000;
    margin-top: 14px;
}
.tweet-interactions{
    display: flex;
    margin-top: 14px;
    width: 150px;
   
}

.interaction{
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #858999;
    margin-right: 24px;

}

.interaction img{
    width: 25px;
    height: 20px;
    margin-right: 8px;
}